<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
    <!-- <link rel="stylesheet" type="text/css"  href="{% static 'css/demo-styles.css' %}"> backgroud image için-->

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--jquery for data aniliz ı used-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


</head>

<body>
<br>
<br>
<hr>
<hr>
<h1  style="margin-left:350px; background-color:;">TEİAŞ DEMİRBAŞ ANALİZ GRAFİKLERİ</h1>
<hr>
<hr>
<br>
<div class="row col-sm-12">
    <div class="col-sm-1">  </div>
    <div class="col-sm-3" style="background-color:powderblue;">
       <canvas id="bar-chart" height="250" width="250"></canvas>
    </div>
    <div class="col-sm-1">  </div>

   <div class="col-sm-3" style="background-color:powderblue;">
       <canvas id="line-chart" height="250" width="250" ></canvas>
   </div>
     <div class="col-sm-1">  </div>
    <div class="col-sm-3" style="background-color:powderblue;">
       <canvas id="polar" height="250" width="250"></canvas>
    </div>

</div>
<br>
<br>
<br>
<br>

<div class="row col-sm-12">


    <div class="col-sm-2">  </div>

   <div class="col-sm-3" style="background-color:powderblue;">
       <canvas id="bubble" height="250" width="250" ></canvas>
   </div>
     <div class="col-sm-1" >  </div>
    <div class="col-sm-3" style="background-color:powderblue;">
       <canvas id="bar-chart-THREE" height="250" width="250" ></canvas>
   </div>
</div>
<script>
 new Chart(document.getElementById("bar-chart").getContext('2d'), {
    type: 'bar',
    data: {
      labels:[{% for i in datamAd %}"{{ i }}",{% endfor %}],
      datasets: [
        {
          label: "SAYI",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#8e5ea2","#e8c3b9"],
          data: [{% for i in datam %}{{ i }},{% endfor %}]
        }

      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Teiaş Ekran Kasa Yazcı'
      }
    }
});


</script>
<script>
 new Chart(document.getElementById("line-chart"), {
    type: 'polarArea',
    data: {
      labels:[{% for i in datamAd %}"{{ i }}",{% endfor %}],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [{% for i in datam %}{{ i }},{% endfor %}]
        }
      ]
    },
    options: {

      title: {
        display: true,
        text: 'Teiaş Ekran Kasa Yazıcı ve Diğer',
      }
    }
});


</script>
<script>
 new Chart(document.getElementById("polar"), {
    type: 'polarArea',
    data: {
      labels:[{% for i in datamAd_two %}"{{ i }}",{% endfor %}],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [{% for i in datam_two %}{{ i }},{% endfor %}]
        }
      ]
    },
    options: {

      title: {
        display: true,
        text: 'Marka dağılımları',
      }
    }
});


</script>



<script>
 new Chart(document.getElementById("bubble"), {
    type: 'bubble',
    data: {
      labels:[{% for i in datamAd_two %}"{{ i }}",{% endfor %}],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [{% for i in datam_two %}{{ i }},{% endfor %}]
        }
      ]
    },
    options: {

      title: {
        display: true,
        text: 'Marka Dağılımları',
      }
    }
});


</script>
<script>
 new Chart(document.getElementById("bar-chart-THREE"), {
    type: 'polarArea',
    data: {
      labels:[{% for i in datamAd_three %}"{{ i }}",{% endfor %}],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [{% for i in datam_three %}{{ i }},{% endfor %}]
        }
      ]
    },
    options: {

      title: {
        display: true,
        text: 'Marka dağılımları',
      }
    }
});



</script>
</body>
</html>